.flex {
    .aside {
        // background-color: red;
        border: none;
    }

    .main {
        border: none;
    }
}

.search {
    input {
        all: unset;
        padding: .5em;
    }

    i:hover {
        cursor: pointer;
    }
}