.flex {
    .aside {
        // background-color: red;
        border: none;
    }

    .main {
        border: none;
    }
}

.search {
    input {
        all: unset;
        padding: .5em;
    }

    i:hover {
        cursor: pointer;
    }
}

@keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-slide-up {
    animation: slide-up 0.2s ease-out;
  }
  