<div class="container h-[180px] gap-1 rounded p-2 overflow-y-scroll">
    <table class="w-[100%]">
        <thead class="text-sm">
            <th>
                Amount
            </th>

            <th>
                Reason
            </th>

            <th>
                Date
            </th>
        </thead>

        <tbody>
            <tr class="border-zinc-400 text-sm border-b-1">
                <td class="p-2">Ar 10000</td>
                <td>Salary</td>
                <td>12-01-2025</td>
            </tr>
        </tbody>
    </table>
</div>