@if(filteredTransactions) {
  <div class="container gap-1 rounded">
      <table class="w-[100%]">
        <thead class="text-xs bg-blue-200 text-zinc-700 border-b-1 border-zinc-300">
          @if(analysis()) {
            <th class="font-bold p-2">Somme: {{ formattedSum }} Ar</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          } @else {
            <th class="font-bold p-2">Date</th>
            <th class="font-bold">Reason</th>
            <th class="font-bold">Category</th>
            <th class="font-bold">Status</th>
            <th class="font-bold">Amount</th>
            <th class="font-bold">Action</th>
          }
        </thead>
    
        <tbody class="overflow-y-scroll">
          @for (transaction of filteredTransactions; track $index) {
            <tr class="border-zinc-300 text-xs border-b-1">
              <td class="p-2"><input *ngIf="analysis()" (change)="calculate($event)" class="me-2 cursor-pointer" type="checkbox" name="money" [id]="transaction.id" [value]="transaction.amount"> {{ transaction.date | date: 'dd MMMM yyyy, hh:mm a' }}</td>
              <td>{{ transaction.reason | titlecase }}</td>
              <td>
                <span class="rounded-full px-2 py-1" [ngStyle]="{ 'background-color' : transaction.category_color }">
                  {{ transaction.category_name | titlecase}}
                </span>
              </td>
              @if (transaction.is_in) {
              <td class="flex items-center py-2">
                <p class="flex gap-3 inline-block text-green-700">
                  <i class="fa-solid fa-arrow-trend-up me-1"></i>
                <strong class="font-normal">Income</strong>
                </p>
              </td>
              } @else {
              <td>
                <p class="flex gap-3 inline-block text-red-700">
                  <i class="fa-solid fa-arrow-trend-down me-1"></i>
                  <strong class="font-normal">Outcome</strong>
                </p>
              </td>
              }

              <td class="font-bold">{{ (transaction.is_in) ? "+" : "-" }} {{ transaction.amount }} MGA</td>

              <td>
                <i class="text-sm me-2 text-green-700 fa-regular fa-pen-to-square cursor-pointer"></i>
                @if(deletingTransactionIds.has(transaction.id)) {
                <div class="animate-spin rounded-full h-6 w-6 border-4 border-blue-500 border-t-transparent"></div>
                }@else {
                <i (click)="deleteTransaction($any($event.currentTarget), transaction.id)" class="fa-solid fa-trash text-red-700 text-sm cursor-pointer"></i>
                }
              </td>
            </tr>
          } @empty {
            <p class="py-1 px-2 text-sm italic">You have no transaction</p>
          }
        </tbody>
        
        @if(data() && !data().need_footer) {
        <tfoot class="text-xs bg-zinc-200 text-zinc-700 border-t-1 border-zinc-300">
          <tr>
            <td colspan="1" class="p-2 text-left">
              <p>Display {{ filteredTransactions.length }} of {{ data().total }} categories</p>
            </td>

            <td colspan="5" class="p-2 text-right">
              <i (click)="previousPage()" class="fa-solid fa-angle-left" [ngClass]="data().has_previous_page ? 'cursor-pointer' : 'text-zinc-400'"></i>
              <span>{{ data().current_page }}/</span><span>{{ totalPage }}</span>
              <i (click)="nextPage()" class="fa-solid fa-angle-right" [ngClass]="data().has_next_page ? 'cursor-pointer' : 'text-zinc-400'"></i>
            </td>
          </tr>
      </tfoot>
        }
      </table>
  </div>
} @else {
    <div class="w-[100%] h-[100%] flex justify-center items-center py-10">
        <!-- spinner -->
        <div class="animate-spin rounded-full h-8 w-8 border-4 border-blue-500 border-t-transparent"></div>
        <span class="ml-2 text-sm text-zinc-600">Loading transactions...</span>
    </div>
}