table {
    thead {
        position: sticky;
        top: 0;
        left: 0;
    }
    th {
        text-align: left;
    }
}

.page-number-input {
    appearance: textfield;
    -moz-appearance: textfield;
}

.page-number-input::-webkit-inner-spin-button,
.page-number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
