<div class="columns-2">
    <div class="content-1 aspect-1/2 flex flex-col">
        <div class="basis-1/7 columns-2 mb-2">
            <div class="rounded-xl bg-pink-500">01</div>
            <div class="rounded-xl bg-pink-500">02</div>
        </div>
        <div class="basis-3/7 mb-2 rounded-xl bg-blue-500">02</div>
        <div class="basis-3/7 rounded-xl bg-gray-500">03</div>
    </div>
    <div class="content-2 aspect-1/2 flex flex-col">
        <div class="basis-1/7 columns-2 mb-2">
            <div class="rounded-xl bg-gray-500">04</div>
            <div class="rounded-xl bg-gray-500">05</div>
        </div>
        <div class="basis-3/7 mb-2 columns-2">
            <div class="rounded-xl rounded-xl bg-green-500">04</div>
            <div class="rounded-xl rounded-xl bg-green-500">05</div>
        </div>
        <div class="basis-3/7 rounded-xl bg-red-500">03</div>
    </div>
</div>