<div class="columns-2">
    <div class="content-1 aspect-1/2 flex flex-col">
        <div class="basis-1/7 columns-2 mb-2">
            <div class="content rounded-xl bg-blue-50">
                <app-mini-card [myMiniCard]="card1()"/>
            </div>
            <div class="content rounded-xl bg-blue-50">
                <app-mini-card [myMiniCard]="card2()"/>
            </div>
        </div>
        <div class="content basis-4/7 mb-2 rounded-xl bg-blue-50">02</div>
        <div class="content basis-2/7 rounded-xl bg-blue-50">03</div>
    </div>
    <div class="content-2 aspect-1/2 flex flex-col">
        <div class="basis-1/7 columns-2 mb-2">
            <div class="content rounded-xl bg-blue-50">
                <app-mini-card [myMiniCard]="card3()"/>
            </div>
            <div class="content rounded-xl bg-blue-50">
                <app-mini-card [myMiniCard]="card4()"/>
            </div>
        </div>
        <div class="basis-3/7 mb-2 columns-2">
            <div class="content rounded-xl rounded-xl bg-blue-50">04</div>
            <div class="content rounded-xl rounded-xl bg-blue-50">05</div>
        </div>
        <div class="content basis-3/7 rounded-xl bg-blue-50">03</div>
    </div>
</div>